package layout

css HeaderCss() {
	background: { "grey" };
	text-align: { "center" };
}

templ Header() {
	@HeaderStyles()
	<div class="header">
		@Menu()
		{ children... }
	</div>
}

templ HeaderStyles() {
	<style>
	.header {
		padding: 20px 77px;
		background: rgb(7, 5, 5);
		text-align: center;

	}
	</style>
}
